li {
    list-style-type: none;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    min-width: calc(100% / 4);
    position: relative;
    background-color: white;
}

li:hover {
    background-color: lightgray;
}

.title {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.badges {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(31, 30, 30, 0.644);
    border-radius: 15px;
    padding: 5px 10px;
}

ul {
    background-color: lightgray;
    border-radius: 20px;
}